#district {
  margin-top: 7%;
  text-align: center;
  
}

.head {
  text-align: center;
  padding: 3% 0% 3%;
}

.dist {
  margin-top: 5%;
  margin-left: 3%;
}

#district h1{
  text-decoration: underline;
}

.top {
  margin-top: 5%;
  padding: 3% 2%;
  background-color: rgb(49, 7, 35);
}

.logo{
  height: 100px;
  width: 150px;
  padding-left: 5%;
}

.card-img-top{
height: 180px;
}

.items{
  padding-right: 10%;
}

.footer{
  padding: 2%;
  margin-top: 3%;
  background-color: rgb(173, 196, 238);
  text-align: center;
}

.foot-icon{
  padding-left: 2%;
}
